* {
    font-family: 'Inter' ,sans-serif;
}
body {
    margin: 0;
}

/* Scroll Bar for Notification Popup */
.popupIncidentNotification_listIncident::-webkit-scrollbar {
    width: 10px;
}
.popupIncidentNotification_listIncident::-webkit-scrollbar-track {
    background-color: rgb(241, 241, 241);
    border-radius: 30px;
}
.popupIncidentNotification_listIncident::-webkit-scrollbar-thumb {
    background-color: rgb(193, 193, 193);
    border-radius: 30px;
    border: 2px solid rgb(241, 241, 241);
}
.popupIncidentNotification_listIncident::-webkit-scrollbar-thumb:hover {
    background-color: rgb(168, 168, 168);
}