.DS_Store
Thumbs.db
*.log
*.tmp
*.cache
.env
.idea/
.vscode/
.git
.gitignore
.txt

/client/node_modules/
/client/package-lock.json
/client/.txt

/server/env.properties
/server/.env
/server/.env.local
/server/.env.development.local
/server/.env.test.local
/server/.env.production.local
/server/.txt
/server/target
/server/logs
/server/.idea
/server/.vscode
/server/.settings
/server/.classpath
/server/.project
/server/.factorypath