.DS_Store
Thumbs.db
*.log
*.tmp
*.cache
*.txt
.env
.idea/
.vscode/
.git

/client/node_modules/
/client/*.txt
/client/*.md

/server/env.properties
/server/.env
/server/.env.local
/server/.env.development.local
/server/.env.test.local
/server/.env.production.local
/server/*.txt
/server/*.md
/server/target
/server/logs
/server/.idea
/server/.vscode
/server/.settings
/server/.classpath
/server/.project
/server/.factorypath