/* Navigation Bar: */
.navigationBar div {
    justify-content: center;
}
#closeNavigation {
    display: none;
}
.item-navigation {
    padding-left: 16px;
    padding-right: 16px;
}
.item-navigation span {
    opacity: 0;
    visibility: hidden;
    font-size: 0;
    transition: all 0.2s ease;
}

#toggleNaviagtion:checked ~ div {
    justify-content: flex-end;
}
#toggleNaviagtion:checked ~ div #openNavigation {
    display: none;
}
#toggleNaviagtion:checked ~ div #closeNavigation {
    display: inline-block;
}
#toggleNaviagtion:checked ~ .navigationBar .item-navigation {
    padding-left: 40px;
    padding-right: 40px;
}
#toggleNaviagtion:checked ~ .navigationBar span {
    opacity: 1;
    visibility: visible;
    transition: all 0.2s ease;
    font-size: 16px;
}
#toggleNaviagtion:checked ~ .navigationBar .iconNavigation {
    margin-right: 12px;
}